input.custom {
  caret-color: red;
  font: 16px "Helvetica", "Arial", "sans-serif"
}

input+span {
  padding-right: 30px;
}

input:invalid+span:after {
  position: absolute;
  content: '✖';
  color: red;
  padding-left: 5px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
  color: green;
}

.basic-input,
.validated-basic-input {
  width: fit-content;
  padding: 0.5em;
  margin: 0.5em;
}

::placeholder {
  font-size: 12px;
}

.custom {
  border: none;
  border-bottom: 2px solid;
  outline: none;
}

.custom-color {
  border-bottom: 2px solid orange;
  color: orange;
}

input::placeholder {
  color: orange;
}

.cart-details-container {
  background-color: rgb(233, 231, 231);
  border-radius: 0.5em;
  padding: 0.5em;
}

.cart-item-details>img {
  border-radius: 1em;

  margin-bottom: 1.5em;
  object-fit: cover;
  /* border: 2px solid green; */
  width: 40%;
}

.user-input {
  padding: 0.5em;
  border: 2px solid darkgray;
  border-radius: 0.5em;
  display: flex;
  margin-top: 0.25em;

}

.user-input>input {
  border: none;
  font-size: 18px;
  width: 100%;
  outline: none;
}