@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

:root {
    --primary-color: #F9FAFB;


    --secondary-color: #831843;
    /* #e41b50 */

    /* #831843 */
    --tertiary-color: #7F1D1D;
    /* #7F1D1D */
    --current-selected-color: white;
    font-family: 'Gabriela', serif;


}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

hr {
    margin: 2em;
    font-weight: 800;
    border-color: var(--secondary-color);

}

body {
    /* background: black;
    color: white; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header {
    /* border: 2px solid red; */
    text-align: center;
    margin: 0.5em;
    background-color: var(--primary-color);
    color: var(--secondary-color);


}

.container {
    /* border: 2px solid black; */
    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;


}

main {
    /* border: 2px solid blue; */
    padding: 0.5em;
    margin: 0.5em;
}



.main-container {
    width: 675px;
    margin: 0 auto;
}

nav>ul {
    display: flex;
    flex-wrap: wrap;

}

nav>ul>li {
    margin: 1em;
}

nav>ul>li>a {
    text-decoration: none;
    padding: 0.5em;
    background-color: var(--secondary-color);
    color: white;
}

nav>ul>li>a:hover {
    background-color: white;
    color: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
}

aside {
    /* border: 2px solid green; */
    float: left top;
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
    border-right: 2px solid var(--secondary-color);
    position:sticky;
    left:0rem;
    top:1rem;
    bottom:1rem;

}

aside>ul>li {
    padding: 0.5em;
    list-style-type: none;
    margin: 1em;
}

aside>ul>li>a {
    text-decoration: none;
    padding: 0.5em;
    background-color: var(--secondary-color);
    color: white;

}

aside>ul>li>a:hover {
    background-color: white;
    color: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
}

footer {
    text-align: center;
    /* border: 2px solid magenta; */
    margin: 0.5em;
    padding: 0.25em;
    background-color: var(--secondary-color);
    color: white;
}

.current-page {
    border: 2px solid var(--tertiary-color);
    border-radius: 1em;
    background-color: var(--current-selected-color);
    color: var(--secondary-color);
}

.component-main-display {

    padding: 0.5em;
    margin: 0.5em;

}

.component-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.component-description {
    letter-spacing: 1px;

}

.textColor-btn-container,
.button-sizes-container,
.squareEdge-bordered-btn-container,
.squareEdge-filled-btn-container,
.roundEdge-btn-container,
.button-style-container,
.icon-btn-sizes-container,
.icon-btn-container,
.badge-on-icon-container,
.text-badge-container,
.rating-sizes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;


}

.textColor-btn-container>section,
.button-sizes-container>section,
.squareEdge-bordered-btn-container>section,
.squareEdge-filled-btn-container>section,
.roundEdge-btn-container>section,
.button-style-container>section,
.icon-btn-sizes-container>section,
.icon-btn-container>section,
.badge-on-icon-container>div,
.rating-sizes>section {
    margin: 0.5em 1em 0.5em 1em;
}

.about-image-content {
    display: flex;
    margin: 1em;
    justify-content: space-between;
}

.about-image-content>img {
    width: 50%;
}


.code-preview {
    /* border:2px solid orange; */
    padding: 0.5em;
    margin: 0.5em;
    position: relative;
  overflow: hidden;
  width: 100%;
  /* padding-top: 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
   
    overflow: hidden;
    transform: scale(1);
  width: 100%;
  height: 100%;
  z-index:0;
}

@media (max-width:675px) {

    body,
    header,
    main,
    nav,
    footer,
    
    .main-container,
    .container,
    .component-main-display,
    .component-container {
        margin: 0 auto;
        width: 675px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
aside{
    background-color: var(--primary-color);
    z-index:99999;
    border:none;
    width:100%;
}
    aside>ul{
        position:relative;
        display: flex;       
        flex-wrap: wrap;
        position:relative;
       
    }
}

button{
    color:var(--secondary-color);
}