


.unordered-list{

}
.unordered-list>ul{
    
}


.unordered-list>ul>li{ 
    margin:1em;
   padding:0.5em 1em;
    list-style-type: none;
}

.stacked-list>ul>li{
    padding:0.5em 1em;
    list-style-type: none;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}
